<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="/css/contactstyle.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <nav>
                <img src="/images/quizlogo4.png"/>
                <ul class="top-menu">
                    <li><a href="/index">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </nav>
        </div>

        <div class="contact-container">
            <div class="contact-details">
                <h9>Reach ME:</h9>
                <p><span>Email:</span> vargabsarma05@gmail.com <br>
                   <span>Phone:</span> +91 91272-02144
                </p>
            </div>
            <div class="contact-now">
                <h10>Leave a Messege</h10>
                <form>
                    <input type="text" placeholder="type your name"/>
                    <input type="email" placeholder="type your email"/>
                    <textarea placeholder="type your messege here..."></textarea>
                    <input type="submit" value="SEND"/>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>