<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <link rel="stylesheet" href="/css/indexstyle.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <nav>
                <img src="/images/quizlogo4.png"/>
                <ul class="top-menu">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        <div class="welcome">
            <h1>Welcome to <span>Quiz Dunia</span></h1>
            <p>Here you can take a quiz to test your knowledge <br>
            or create a quiz of your own.</p>
            <div class="button">
               <a href="login">LOG IN</a>
               <a href="register">REGISTER</a>
            </div>
        </div>
    </div>
    
</body>
</html>