<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/loginstyle.css">
</head>
<body>
    <div class="header">
        <nav>
            <img src="/images/quizlogo4.png"/>
            <ul class="top-menu">
                <li><a href="index">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>
    <div class="wrapper">
        <div class="title">
            <p>Login</p>
        </div>
        <form action="/login" method="post">
            <div class="login_details">
            <div class="input_box">
                <input type="text" name="email" placeholder="Email" required/>
            </div>
            <div class="input_box">
                <input type="password" name="password" placeholder="Password" required/>
            </div>
            <div class="btn-login">
                <input type="submit" value="Login"/>
            </div>
            <p>Don't have an account?<a href="register">Register</a></p>
        </div>
        </form>
    </div>
    
</body>
</html>