<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
    <link rel="stylesheet" href="/css/registerstyle.css">
</head>
<body>
    <div class="header">
        <nav>
            <img src="/images/quizlogo4.png"/>
            <ul class="top-menu">
                <li><a href="index">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>
    <div class="form-container">
        <div class="title">
            <p>Registration</p>
        </div>
        <form class="registerform" action="/register" method="post">
            <div class="user_details">

            <div class="input_box">
                <label for="fname">First Name:</label>
                <input type="text" id="fname" name="fname" required/>
            </div>
            <div class="input_box">
                <label for="lname">Last Name:</label>
                <input type="text" id="lname" name="lname"required/>
            </div>
            <div class="input_box">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email"required/>
            </div>
            <div class="input_box">
                <label for="phone">Phone No:</label>
                <input type="number" id="phone" name="phone"required/>
            </div>
            <div class="input_box">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"required/>
            </div>
            <div class="input_box">
                <label for="cpassword">Confirm Password:</label>
                <input type="password" id="cpassword" name="cpassword"required/>
            </div>
            <div class="btn">
                <input type="submit" value="Register"/>
            </div>
            <p>Already Registered?<a href="login">Log In</a></p>
        </div>
        </form>
    </div>
    
</body>
</html>