*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #3e38da;
    min-height: 100vh;
    min-width: 100%;
    background-image: url('quiz.jpg');
    background-size: 100vw 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: #20baee ;
    z-index: 2;
}
nav img{
    width: 60px;
    margin-left: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    list-style-type: none;
}
nav ul li a{
    height: 40px;
    line-height: 40px;
    margin: 3px;
    padding: 0px 17px;
    display: flex;
    font-size: 1.0rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.6s ease;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}
nav ul li a:hover{
color: red;
}
.wrapper{
    position: relative;
    max-width: 400px;
    width: 40%;
    background: #ffffff3f;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),0px 5px 12px -2px rgba(0, 0, 0, 0.1),0px 18px 36px -6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    border: solid white;
}
.wrapper .title{
    padding: 25px;
    background: #f6f8fa3f;
}
.wrapper .title p{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.wrapper .title p::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: linear-gradient(to right,#f37a65,#d64141);
}
.login_details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
}
.login_details .input_box{
    width: calc(100%/2 -20px);
    margin: 0 0 12px 0;
    padding: 10px;

}
.input_box input{
    width: 150%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 15px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: #ffffffa7;
    font-family: sans-serif;
    transition: all 120ms ease-out 0s;
}
.input_box input::placeholder{
    color: black;
}
.input_box input:focus,.input_box input:valid{
    box-shadow: 0 0 0 2px #ac8ece;
}
.btn-login{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}
.btn-login input{
    height: 45px;
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: #d64141;
    border-radius: 5px;
    color: #fff;
    padding: 0 20px 0 20px;
    letter-spacing: 1px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.btn-login input:hover{
    background: #d11111;
}
.login_details p{
    font-style: italic;
    font-weight: bold;
}
.login_details a{
    font-style: normal;
    padding-left: 5px;
    color: #d64141;
    text-decoration: none;
    transition: 0.5s;
}
.login_details a:hover{
    color: #bb0000;
}
@media screen and (max-width:1000px) {
    .input_box input{
        width: 140%;
    }
}
@media screen and (max-width:935px) {
    .input_box input{
        width: 130%;
    }
}
@media screen and (max-width:872px) {
    .input_box input{
        width: 120%;
    }
}
@media screen and (max-width:820px) {
    .input_box input{
        width: 90%;
    }
}
@media screen and (max-width:460px) {
    .input_box input::placeholder{
        font-size: 0.7rem;
    }
    .btn-login input{
        font-size: 15px;
    }
}
@media screen and (max-height:560px) {
    .wrapper .title{
        padding: 15px;
    }
    .wrapper .title p{
        font-size: 15px;
    }
    .input_box input{
        height: 35px;
    }
    .btn-login input{
        height: 35px;
    }
    .login_details{
        padding: 10px;
    }
}
@media screen and (max-width:404px) {
    nav img{
        width: 40px;
        margin-left: 10px;
    }
    nav ul li a{
    padding: 0px 5px;
    font-size: 0.7rem;    
    }
}